<div class="flexitem"><div class="content">
             <div class="bottom">
            <div class="live white-on-red">[[Ort]]</div>
<div class="image">[[Foto]]</div>
                <div class="headlinelist"><a href="##moreurl##" style="color:#fff">[[Titelzeile]]</a></div>
        </div>
        </div>
</div>