<div style="text-align: center"><?xml version='1.0' encoding='utf-8'?>
<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 107 85.1" version="1.1" viewBox="0 0 107 85.1" width="150">
<style type="text/css">
	.st0{fill:#E7BFA6;}
	.st1{fill:#83BAD8;}
	.st2{fill:#0C0A0C;}
	.st3{fill:#E5E5E5;}
	.st4{fill:#CECFD0;}
	.st5{fill:#B9BBBC;}
	.st6{fill:#F0F1F0;}
</style>
			<polyline class="st0" points="53.6 56.3 53.6 33.9 62.9 19.1 62.9 60.4"/>
			<path class="st1" d="m76.9 48.5"/>
				<path class="st0" d="m71.8 28.6c0 7.4-6 13.5-13.5 13.5-7.4 0-13.5-6-13.5-13.5v-8.6c0-7.4 6-13.5 13.5-13.5 7.4 0 13.5 6 13.5 13.5v8.6z"/>
			<path class="st1" d="m38.8 86.6l-4.1-37.9s4.7-4.9 18.9-5l5 7 4.2-7c8.9-1.6 18.2 4.8 18.2 4.8l-7.7 38.1h-34.5z"/>
			<path class="st2" d="m46.8 28.1s-4.6-2.2-5.8-7.1c-1.7-7 0.2-13.7 3.8-13.1 1.8 3.1 2.8 3.9 2.8 3.9s-1.5 13-0.8 16.3z"/>
			<path class="st2" d="m47.9 11.9s4.7 3.6 13.9 3.6c9.1 0 12.7-5.8 10.7-12.9-2.9 2.6-6.3 0.5-11.6-1.3-5.3-1.9-10.8-1.9-14.2 0.9-3.5 2.8-2.3 7.5 1.2 9.7z"/>
			<path class="st2" d="m48.7 12.3s-3.4 6.1-2.3 10.4c-2.6-3.4-3.4-8.3-3.4-8.3l2-6.3 3.7 4.2z"/>
			<path class="st2" d="m67.5 12.1s3.9 1.5 3.6 7.8c3.9-4.4 2-9.7 2-9.7l-1.8-2.3-3.8 4.2z"/>
						<path class="st3" d="m53.5 97.9c-11.7-2.9-23.8-3.2-35.5 0l-18-47.1c17.7-3.2 35.8-3 53.5 0v47.1z"/>
							<path class="st4" d="m27.2 68.9c-5.7 0.3-11.4 0.9-17.1 1.9-2.3-6.3-4.6-12.6-6.8-18.9 6.6-1 13.2-1.6 19.8-1.9 1.4 6.3 2.8 12.6 4.1 18.9z"/>
							<path class="st5" d="m27.2 68.9c-5.7 0.3-11.4 0.9-17.1 1.9-0.5-1.4-0.8-2.2-1.3-3.6 5.8-1 11.7-1.6 17.6-1.9 0.4 1.4 0.5 2.2 0.8 3.6z"/>
							<path class="st5" d="m50.7 59.1c-8.1-1.3-16.2-1.9-24.4-1.9l-1.5-7.2c8.6 0 17.2 0.7 25.7 1.9 0.1 2.4 0.2 4.8 0.2 7.2z"/>
								<path class="st4" d="m38 58.2c-3.1-0.2-6.2-0.3-9.4-0.4 0 0.2 0.1 0.3 0.1 0.6 3.1 0 6.2 0.2 9.3 0.4 0.1-0.2 0.1-0.4 0-0.6z"/>
								<path class="st4" d="m38.1 59.1c-3.8-0.2-7.6-0.3-11.5-0.4 0 0.2 0.1 0.3 0.1 0.6 3.8 0 7.6 0.1 11.4 0.4 0.1-0.3 0.1-0.4 0-0.6z"/>
								<path class="st4" d="m37.3 59.9c-3.5-0.2-7-0.3-10.5-0.3 0 0.2 0.1 0.3 0.1 0.6 3.5 0 7 0.1 10.4 0.3v-0.6z"/>
								<path class="st4" d="m38.3 60.8c-3.8-0.2-7.5-0.3-11.3-0.4 0 0.2 0.1 0.3 0.1 0.6 3.8 0 7.5 0.1 11.3 0.4 0-0.2 0-0.3-0.1-0.6z"/>
								<path class="st4" d="m38.2 61.7c-3.7-0.2-7.4-0.3-11.1-0.3 0 0.2 0.1 0.3 0.1 0.6 3.7 0 7.3 0.1 11 0.3 0.1-0.3 0.1-0.4 0-0.6z"/>
								<path class="st4" d="m38.5 62.6c-3.7-0.2-7.4-0.3-11.2-0.4 0 0.2 0.1 0.4 0.1 0.6 3.7 0 7.4 0.1 11.1 0.4 0.1-0.3 0.1-0.4 0-0.6z"/>
								<path class="st4" d="m36.9 63.3c-3.1-0.2-6.3-0.2-9.4-0.2 0 0.2 0.1 0.3 0.1 0.6 3.1 0 6.2 0.1 9.3 0.2 0.1-0.2 0.1-0.3 0-0.6z"/>
								<path class="st4" d="m38.7 64.3c-3.7-0.2-7.3-0.3-11-0.4 0 0.2 0.1 0.3 0.1 0.6 3.7 0 7.3 0.1 11 0.4 0-0.2 0-0.4-0.1-0.6z"/>
								<path class="st4" d="m38.2 65.1c-3.5-0.2-6.9-0.3-10.4-0.3 0 0.2 0.1 0.3 0.1 0.6 3.4 0 6.9 0.1 10.3 0.3 0.1-0.2 0.1-0.3 0-0.6z"/>
								<path class="st4" d="m38.9 66.1c-3.6-0.2-7.2-0.3-10.9-0.4 0 0.2 0.1 0.4 0.1 0.6 3.6 0 7.2 0.1 10.8 0.4 0.1-0.3 0.1-0.4 0-0.6z"/>
								<path class="st4" d="m37.9 66.8c-3.2-0.2-6.4-0.3-9.6-0.3 0 0.2 0.1 0.3 0.1 0.6 3.2 0 6.4 0.1 9.6 0.3-0.1-0.2-0.1-0.3-0.1-0.6z"/>
								<path class="st4" d="m39.2 67.8c-3.6-0.2-7.1-0.3-10.7-0.4 0 0.2 0.1 0.3 0.1 0.6 3.6 0 7.1 0.1 10.7 0.4-0.1-0.2-0.1-0.4-0.1-0.6z"/>
								<path class="st4" d="m36.9 68.5c-2.8-0.1-5.5-0.2-8.3-0.2 0 0.2 0.1 0.3 0.1 0.6 2.8 0 5.5 0.1 8.2 0.2v-0.6z"/>
								<path class="st4" d="m50.6 59.8c-3.1-0.5-6.1-0.9-9.2-1.3 0 0.2 0 0.3 0.1 0.6 3.1 0.3 6.1 0.7 9.2 1.3-0.1-0.3-0.1-0.4-0.1-0.6z"/>
								<path class="st4" d="m50.7 60.6c-3.8-0.6-7.5-1.1-11.3-1.5 0 0.2 0 0.3 0.1 0.6 3.8 0.4 7.5 0.9 11.3 1.5-0.1-0.2-0.1-0.3-0.1-0.6z"/>
								<path class="st4" d="m49.8 61.3c-3.4-0.5-6.9-1-10.4-1.3 0 0.2 0 0.3 0.1 0.6 3.5 0.3 6.9 0.8 10.3 1.3v-0.6z"/>
								<path class="st4" d="m50.7 62.4c-3.7-0.6-7.4-1.1-11.2-1.5 0 0.2 0 0.3 0.1 0.6 3.7 0.4 7.4 0.9 11.1 1.5v-0.6z"/>
								<path class="st4" d="m50.5 63.2c-3.6-0.6-7.3-1.1-10.9-1.4 0 0.2 0 0.3 0.1 0.6 3.6 0.4 7.3 0.8 10.9 1.4-0.1-0.2-0.1-0.4-0.1-0.6z"/>
								<path class="st4" d="m50.7 64.1c-3.7-0.6-7.3-1.1-11-1.5 0 0.2 0 0.3 0.1 0.6 3.7 0.4 7.3 0.9 11 1.5-0.1-0.2-0.1-0.3-0.1-0.6z"/>
								<path class="st4" d="m49.1 64.7c-3.1-0.5-6.2-0.9-9.3-1.2 0 0.2 0 0.3 0.1 0.6 3.1 0.3 6.2 0.7 9.3 1.2-0.1-0.3-0.1-0.4-0.1-0.6z"/>
								<path class="st4" d="m50.8 65.9c-3.6-0.6-7.2-1.1-10.9-1.5 0 0.2 0 0.3 0.1 0.6 3.6 0.4 7.2 0.9 10.8 1.5v-0.6z"/>
								<path class="st4" d="m50.2 66.6c-3.4-0.6-6.8-1-10.2-1.4 0 0.2 0 0.3 0.1 0.6 3.4 0.3 6.8 0.8 10.2 1.4-0.1-0.2-0.1-0.3-0.1-0.6z"/>
								<path class="st4" d="m50.8 67.6c-3.6-0.6-7.1-1.1-10.7-1.5 0 0.2 0 0.3 0.1 0.6 3.6 0.4 7.1 0.9 10.7 1.5-0.1-0.2-0.1-0.4-0.1-0.6z"/>
								<path class="st4" d="m49.7 68.3c-3.2-0.5-6.3-0.9-9.5-1.3 0 0.2 0 0.3 0.1 0.6 3.2 0.3 6.3 0.7 9.5 1.2-0.1-0.2-0.1-0.3-0.1-0.5z"/>
								<path class="st4" d="m50.8 69.4c-3.5-0.6-7-1.1-10.6-1.5 0 0.2 0 0.4 0.1 0.6 3.5 0.4 7 0.9 10.5 1.5 0.1-0.3 0-0.4 0-0.6z"/>
								<path class="st4" d="m48.6 69.8c-2.7-0.4-5.5-0.8-8.2-1 0 0.2 0 0.3 0.1 0.6 2.7 0.3 5.5 0.6 8.2 1-0.1-0.2-0.1-0.4-0.1-0.6z"/>
							<path class="st5" d="m51 75.9c-12.9-2.3-26.1-2.4-39 0-0.1-0.2-0.1-0.3-0.2-0.5 13-2.5 26.2-2.3 39.2 0v0.5z"/>
							<path class="st5" d="m50.9 71.5c-4.4-0.8-8.8-1.3-13.2-1.7 0.2 1.2 0.2 1.8 0.4 3 4.3 0.4 8.6 0.9 12.9 1.7-0.1-1.2-0.1-1.8-0.1-3z"/>
							<path class="st5" d="m51 76.5c-4.2-0.8-8.4-1.3-12.7-1.7 0.4 3.1 0.8 6.2 1.2 9.2 3.9 0.4 7.8 0.9 11.7 1.7-0.1-3-0.1-6.1-0.2-9.2z"/>
							<path class="st4" d="m36.9 69.8c-8.9-0.4-17.7 0.1-26.5 1.7 0.4 1.2 0.7 1.8 1.1 3 8.5-1.6 17.1-2.1 25.8-1.7-0.1-1.2-0.2-1.8-0.4-3z"/>
								<path class="st4" d="m24.4 74.9c-3.6 0.3-7.1 0.8-10.7 1.4 0.1 0.3 0.1 0.4 0.2 0.7 3.5-0.6 7.1-1.1 10.6-1.4 0-0.3-0.1-0.5-0.1-0.7z"/>
								<path class="st4" d="m24.6 75.9c-4 0.4-8 0.9-12 1.7 0.1 0.3 0.2 0.4 0.3 0.7 4-0.8 7.9-1.3 11.9-1.7-0.1-0.3-0.1-0.4-0.2-0.7z"/>
								<path class="st4" d="m24.9 77c-4 0.4-8 0.9-11.9 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.9-0.8 7.8-1.3 11.8-1.7-0.1-0.3-0.1-0.4-0.2-0.7z"/>
								<path class="st4" d="m25.2 78c-4 0.4-7.9 0.9-11.8 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.9-0.8 7.8-1.3 11.7-1.7-0.1-0.2-0.2-0.4-0.2-0.7z"/>
								<path class="st4" d="m25.4 79.1c-3.9 0.4-7.8 0.9-11.7 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.8-0.8 7.7-1.3 11.6-1.7-0.1-0.3-0.1-0.4-0.2-0.7z"/>
								<path class="st4" d="m25.7 80.2c-3.9 0.4-7.7 0.9-11.5 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.8-0.8 7.6-1.3 11.5-1.7-0.2-0.3-0.2-0.4-0.3-0.7z"/>
								<path class="st4" d="m26 81.2c-3.9 0.4-7.6 0.9-11.4 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.8-0.8 7.5-1.3 11.4-1.7-0.2-0.2-0.3-0.4-0.3-0.7z"/>
								<path class="st4" d="m26.2 82.3c-3.8 0.4-7.6 0.9-11.3 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.7-0.8 7.5-1.3 11.2-1.7-0.1-0.3-0.1-0.4-0.2-0.7z"/>
								<path class="st4" d="m24.1 83.6c-3 0.4-5.9 0.9-8.8 1.5 0.1 0.3 0.2 0.4 0.3 0.7 2.9-0.6 5.8-1.1 8.7-1.5-0.1-0.3-0.1-0.4-0.2-0.7z"/>
								<path class="st4" d="m37.7 74.8c-3.8-0.2-7.5-0.2-11.3-0.1 0.1 0.3 0.1 0.4 0.2 0.7 3.7-0.1 7.5-0.1 11.2 0.1 0-0.3-0.1-0.4-0.1-0.7z"/>
								<path class="st4" d="m37.8 75.9c-4.2-0.2-8.5-0.2-12.7 0 0.1 0.3 0.1 0.4 0.2 0.7 4.2-0.2 8.4-0.2 12.6 0 0-0.3 0-0.4-0.1-0.7z"/>
								<path class="st4" d="m38 76.9c-4.2-0.2-8.4-0.2-12.6 0 0.1 0.3 0.1 0.4 0.2 0.7 4.2-0.2 8.3-0.2 12.5 0-0.1-0.2-0.1-0.4-0.1-0.7z"/>
								<path class="st4" d="m38.1 78c-4.2-0.2-8.3-0.2-12.5 0 0.1 0.3 0.1 0.4 0.2 0.7 4.1-0.2 8.3-0.2 12.4 0 0-0.3 0-0.4-0.1-0.7z"/>
								<path class="st4" d="m38.3 79.1c-4.1-0.2-8.2-0.2-12.4 0 0.1 0.3 0.1 0.4 0.2 0.7 4.1-0.2 8.2-0.2 12.3 0-0.1-0.3-0.1-0.4-0.1-0.7z"/>
								<path class="st4" d="m38.4 80.1c-4.1-0.2-8.2-0.2-12.3 0 0.1 0.3 0.1 0.4 0.2 0.7 4.1-0.2 8.1-0.2 12.2 0 0-0.2 0-0.4-0.1-0.7z"/>
								<path class="st4" d="m38.6 81.2c-4.1-0.2-8.1-0.2-12.1 0 0.1 0.3 0.1 0.4 0.2 0.7 4-0.2 8-0.2 12.1 0-0.2-0.3-0.2-0.4-0.2-0.7z"/>
								<path class="st4" d="m38.7 82.3c-4-0.2-8-0.2-12 0 0.1 0.3 0.1 0.4 0.2 0.7 4-0.2 7.9-0.2 11.9 0 0-0.3 0-0.5-0.1-0.7z"/>
								<path class="st4" d="m36.4 83.2c-3.1-0.1-6.3 0-9.4 0.1 0.1 0.3 0.1 0.4 0.2 0.7 3.1-0.2 6.2-0.2 9.4-0.1-0.2-0.3-0.2-0.4-0.2-0.7z"/>
							<path class="st5" d="m51.2 86.6c-3.8-0.8-7.7-1.3-11.6-1.7 0.4 3.1 0.8 6.2 1.2 9.2 3.6 0.4 7.1 0.9 10.6 1.7 0-3.1-0.1-6.1-0.2-9.2z"/>
								<path class="st4" d="m26.9 84.9c-3.3 0.3-6.5 0.8-9.7 1.4 0.1 0.3 0.1 0.4 0.2 0.7 3.2-0.6 6.4-1.1 9.7-1.4-0.1-0.3-0.1-0.4-0.2-0.7z"/>
								<path class="st4" d="m27.2 86c-3.7 0.4-7.3 0.9-10.9 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.6-0.8 7.2-1.3 10.8-1.7-0.1-0.3-0.2-0.4-0.2-0.7z"/>
								<path class="st4" d="m27.4 87c-3.6 0.4-7.2 0.9-10.8 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.5-0.8 7.1-1.3 10.7-1.7-0.1-0.2-0.1-0.4-0.2-0.7z"/>
								<path class="st4" d="m27.7 88.1c-3.6 0.4-7.1 0.9-10.7 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.5-0.8 7-1.3 10.6-1.7-0.1-0.3-0.1-0.4-0.2-0.7z"/>
								<path class="st4" d="m28 89.2c-3.6 0.4-7.1 0.9-10.6 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.5-0.8 6.9-1.3 10.5-1.7-0.1-0.3-0.2-0.4-0.2-0.7z"/>
								<path class="st4" d="m28.2 90.2c-3.5 0.4-7 0.9-10.4 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.4-0.8 6.9-1.3 10.4-1.7-0.2-0.2-0.2-0.4-0.3-0.7z"/>
								<path class="st4" d="m28.5 91.3c-3.5 0.4-6.9 0.9-10.3 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.4-0.8 6.8-1.3 10.2-1.7-0.1-0.3-0.1-0.4-0.2-0.7z"/>
								<path class="st4" d="m28.8 92.4c-3.5 0.4-6.8 0.9-10.2 1.7 0.1 0.3 0.2 0.4 0.3 0.7 3.4-0.8 6.7-1.3 10.1-1.7-0.1-0.3-0.2-0.4-0.2-0.7z"/>
								<path class="st4" d="m26.9 93.6c-2.7 0.4-5.3 0.9-7.9 1.5 0.1 0.3 0.2 0.4 0.3 0.7 2.6-0.6 5.2-1.1 7.9-1.5-0.2-0.2-0.3-0.4-0.3-0.7z"/>
								<path class="st4" d="m39.1 84.9c-3.4-0.2-6.9-0.2-10.3-0.1 0.1 0.3 0.1 0.4 0.2 0.7 3.4-0.1 6.8-0.1 10.2 0.1-0.1-0.3-0.1-0.4-0.1-0.7z"/>
								<path class="st4" d="m39.2 85.9c-3.9-0.2-7.7-0.2-11.6 0 0.1 0.3 0.1 0.4 0.2 0.7 3.9-0.2 7.7-0.2 11.5 0 0-0.2 0-0.4-0.1-0.7z"/>
								<path class="st4" d="m39.4 87c-3.8-0.2-7.6-0.2-11.5 0 0.1 0.3 0.1 0.4 0.2 0.7 3.8-0.2 7.6-0.2 11.4 0-0.1-0.3-0.1-0.4-0.1-0.7z"/>
								<path class="st4" d="m39.5 88.1c-3.8-0.2-7.6-0.2-11.4 0 0.1 0.3 0.1 0.4 0.2 0.7 3.8-0.2 7.5-0.2 11.3 0 0-0.3-0.1-0.5-0.1-0.7z"/>
								<path class="st4" d="m39.6 89.1c-3.8-0.2-7.5-0.2-11.3 0 0.1 0.3 0.1 0.4 0.2 0.7 3.7-0.2 7.4-0.2 11.2 0 0-0.2 0-0.4-0.1-0.7z"/>
								<path class="st4" d="m39.8 90.2c-3.7-0.2-7.4-0.2-11.1 0 0.1 0.3 0.1 0.4 0.2 0.7 3.7-0.2 7.4-0.2 11.1 0-0.1-0.3-0.2-0.4-0.2-0.7z"/>
								<path class="st4" d="m39.9 91.3c-3.7-0.2-7.3-0.2-11 0 0.1 0.3 0.1 0.4 0.2 0.7 3.7-0.2 7.3-0.2 10.9 0 0-0.3 0-0.5-0.1-0.7z"/>
								<path class="st4" d="m40.1 92.3c-3.6-0.2-7.3-0.2-10.9 0 0.1 0.3 0.1 0.4 0.2 0.7 3.6-0.2 7.2-0.2 10.8 0-0.1-0.2-0.1-0.4-0.1-0.7z"/>
								<path class="st4" d="m38 93.3c-2.9-0.1-5.7 0-8.5 0.1 0.1 0.3 0.1 0.4 0.2 0.7 2.8-0.2 5.6-0.2 8.5-0.1-0.2-0.3-0.2-0.5-0.2-0.7z"/>
						<path class="st6" d="m89 97.9c-11.7-3.2-23.8-2.9-35.5 0v-47.1c17.7-3 35.8-3.2 53.5 0l-18 47.1z"/>
								<path class="st5" d="m101 59.3c-14.9-2.5-29.9-2.3-44.8 0 0-2.4 0.1-4.7 0.2-7.1 15.7-2.3 31.5-2.5 47.2 0-0.9 2.3-1.7 4.7-2.6 7.1z"/>
								<path class="st5" d="m100 62.2c-14.5-2.5-29.2-2.3-43.8 0v-0.3c14.6-2.3 29.3-2.5 43.8 0v0.3z"/>
								<path class="st4" d="m100.8 59.9c-4.6-0.8-9.2-1.3-13.9-1.7-0.2 0.6-0.2 1-0.4 1.6 4.6 0.4 9.2 0.9 13.7 1.7 0.3-0.6 0.4-0.9 0.6-1.6z"/>
								<path class="st4" d="m86.1 58.2c-10-0.4-20 0.2-29.9 1.7v1.6c9.8-1.6 19.6-2.1 29.5-1.7 0.2-0.7 0.3-1 0.4-1.6z"/>
								<path class="st5" d="m92.4 82.1c-7.3-1.4-14.6-2-22-1.8 0.4-2.4 0.7-4.7 1.1-7.1 7.9-0.2 15.7 0.3 23.5 1.8-0.9 2.4-1.7 4.8-2.6 7.1z"/>
								<path class="st4" d="m92.2 82.8c-2.2-0.5-4.5-0.9-6.8-1.2 0 0.2-0.1 0.3-0.1 0.4 2.3 0.3 4.5 0.7 6.7 1.2 0.1-0.2 0.2-0.3 0.2-0.4z"/>
								<path class="st4" d="m85.1 81.5c-4.9-0.5-9.8-0.7-14.7-0.5 0 0.2 0 0.3-0.1 0.4 4.9-0.1 9.8 0 14.7 0.5 0-0.1 0-0.2 0.1-0.4z"/>
								<path class="st4" d="m91.9 83.7c-2.2-0.5-4.4-0.9-6.7-1.2 0 0.2-0.1 0.2-0.1 0.4 2.2 0.3 4.4 0.7 6.7 1.2 0-0.1 0-0.2 0.1-0.4z"/>
								<path class="st4" d="m84.8 82.5c-4.9-0.5-9.7-0.7-14.6-0.5 0 0.2 0 0.3-0.1 0.4 4.9-0.1 9.7 0 14.6 0.5 0-0.2 0.1-0.2 0.1-0.4z"/>
								<path class="st4" d="m91.5 84.7c-2.2-0.5-4.4-0.9-6.6-1.2-0.1 0.2-0.1 0.2-0.1 0.4 2.2 0.3 4.4 0.7 6.6 1.2 0.1-0.2 0.1-0.3 0.1-0.4z"/>
								<path class="st4" d="m84.5 83.4c-4.8-0.5-9.6-0.7-14.5-0.5 0 0.2 0 0.2-0.1 0.4 4.8-0.1 9.6 0 14.4 0.5 0.2-0.1 0.2-0.2 0.2-0.4z"/>
								<path class="st4" d="m91.2 85.6c-2.2-0.5-4.4-0.9-6.6-1.2-0.1 0.2-0.1 0.3-0.1 0.4 2.2 0.3 4.4 0.7 6.5 1.2 0.1-0.1 0.1-0.2 0.2-0.4z"/>
								<path class="st4" d="m84.3 84.4c-4.8-0.5-9.5-0.7-14.4-0.5 0 0.2 0 0.2-0.1 0.4 4.8-0.1 9.5 0 14.3 0.5 0.1-0.1 0.1-0.2 0.2-0.4z"/>
								<path class="st4" d="m90.9 86.6c-2.2-0.5-4.3-0.9-6.5-1.2 0 0.2-0.1 0.2-0.1 0.4 2.2 0.3 4.3 0.7 6.5 1.2 0-0.2 0-0.2 0.1-0.4z"/>
								<path class="st4" d="m84 85.4c-4.7-0.5-9.5-0.7-14.2-0.5 0 0.2 0 0.2-0.1 0.4 4.8-0.1 9.4 0 14.2 0.5 0-0.2 0-0.3 0.1-0.4z"/>
								<path class="st4" d="m90.5 87.6c-2.1-0.5-4.3-0.9-6.4-1.2 0 0.2-0.1 0.2-0.1 0.4 2.2 0.3 4.3 0.7 6.4 1.2 0-0.2 0.1-0.3 0.1-0.4z"/>
								<path class="st4" d="m83.7 86.3c-4.7-0.5-9.4-0.7-14.1-0.5 0 0.2 0 0.3-0.1 0.4 4.7-0.1 9.4 0 14 0.5 0.1-0.1 0.2-0.2 0.2-0.4z"/>
								<path class="st4" d="m90.2 88.5c-2.1-0.5-4.2-0.9-6.4-1.2 0 0.2-0.1 0.3-0.1 0.4 2.1 0.3 4.2 0.7 6.4 1.2 0-0.1 0-0.2 0.1-0.4z"/>
								<path class="st4" d="m83.4 87.3c-4.7-0.5-9.3-0.7-14-0.5 0 0.2 0 0.3-0.1 0.4 4.7-0.1 9.3 0 13.9 0.5 0.2-0.2 0.2-0.3 0.2-0.4z"/>
							<path class="st4" d="m67.9 93.7c-4.2 0.3-8.2 0.9-12.3 1.8 0.3-11 0.5-22 0.8-33 5.5-0.9 10.9-1.5 16.5-1.8-1.7 11-3.3 22-5 33z"/>
								<path class="st4" d="m81.9 61h-8.5c0-0.2 0-0.2 0.1-0.4 2.8-0.1 5.7-0.1 8.5 0 0 0.2-0.1 0.3-0.1 0.4z"/>
								<path class="st4" d="m81.7 61.7h-8.5c0-0.2 0-0.2 0.1-0.4 2.8-0.1 5.6-0.1 8.5 0 0 0.2 0 0.3-0.1 0.4z"/>
								<path class="st4" d="m81.6 62.5h-8.4c0-0.2 0-0.2 0.1-0.4 2.8-0.1 5.6-0.1 8.4 0-0.1 0.1-0.1 0.2-0.1 0.4z"/>
								<path class="st4" d="m81.4 63.2h-8.4c0-0.2 0-0.2 0.1-0.4 2.8-0.1 5.6-0.1 8.4 0 0 0.1 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m81.3 63.9h-8.3c0-0.2 0-0.2 0.1-0.4 2.8-0.1 5.6-0.1 8.3 0-0.1 0.2-0.1 0.2-0.1 0.4z"/>
								<path class="st4" d="m81.1 64.6h-8.3c0-0.2 0-0.2 0.1-0.4 2.8-0.1 5.5-0.1 8.3 0 0 0.2 0 0.3-0.1 0.4z"/>
								<path class="st4" d="m81 65.3h-8.2c0-0.2 0-0.2 0.1-0.4 2.8-0.1 5.5-0.1 8.2 0-0.1 0.2-0.1 0.3-0.1 0.4z"/>
								<path class="st4" d="m80.8 66.1h-8.2c0-0.2 0-0.2 0.1-0.4 2.7-0.1 5.5-0.1 8.2 0 0 0.1-0.1 0.2-0.1 0.4z"/>
								<path class="st4" d="m80.6 66.8h-8.1c0-0.2 0-0.2 0.1-0.4 2.7-0.1 5.4-0.1 8.1 0 0 0.1 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m80.5 67.5h-8.1c0-0.2 0-0.2 0.1-0.4 2.7-0.1 5.4-0.1 8.1 0-0.1 0.2-0.1 0.2-0.1 0.4z"/>
								<path class="st4" d="m80.3 68.2h-8c0-0.2 0-0.2 0.1-0.4 2.7-0.1 5.4-0.1 8.1 0-0.1 0.2-0.1 0.3-0.2 0.4z"/>
								<path class="st4" d="m80.2 68.9h-8c0-0.2 0-0.2 0.1-0.4 2.7-0.1 5.3-0.1 8 0-0.1 0.2-0.1 0.3-0.1 0.4z"/>
								<path class="st4" d="m80 69.6h-7.9c0-0.2 0-0.2 0.1-0.4 2.7-0.1 5.3-0.1 8 0-0.1 0.2-0.1 0.3-0.2 0.4z"/>
								<path class="st4" d="m79.9 70.4h-7.9c0-0.2 0-0.2 0.1-0.4 2.6-0.1 5.3-0.1 7.9 0-0.1 0.1-0.1 0.2-0.1 0.4z"/>
								<path class="st4" d="m79.7 71.1h-7.8c0-0.2 0-0.2 0.1-0.4 2.6-0.1 5.2-0.1 7.9 0-0.1 0.1-0.2 0.2-0.2 0.4z"/>
								<path class="st4" d="m79.5 71.8h-7.8c0-0.2 0-0.2 0.1-0.4 2.6-0.1 5.2-0.1 7.8 0 0 0.2 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m79.4 72.5h-7.7c0-0.2 0-0.2 0.1-0.4 2.6-0.1 5.2-0.1 7.8 0-0.2 0.2-0.2 0.3-0.2 0.4z"/>
								<path class="st4" d="m89 68.1c-2.6-0.2-5.3-0.4-7.9-0.6 0-0.2 0.1-0.2 0.1-0.4 2.6 0.1 5.3 0.3 7.9 0.6-0.1 0.1-0.1 0.2-0.1 0.4z"/>
								<path class="st4" d="m88.7 68.8l-7.8-0.6c0-0.2 0.1-0.2 0.1-0.4 2.6 0.1 5.2 0.3 7.9 0.6l-0.2 0.4z"/>
								<path class="st4" d="m88.5 69.5l-7.8-0.6c0-0.2 0.1-0.2 0.1-0.4 2.6 0.1 5.2 0.3 7.8 0.6 0 0.2 0 0.3-0.1 0.4z"/>
								<path class="st4" d="m88.3 70.2c-2.6-0.2-5.2-0.4-7.7-0.6 0-0.2 0.1-0.2 0.1-0.4 2.6 0.1 5.2 0.3 7.8 0.6-0.1 0.2-0.1 0.3-0.2 0.4z"/>
								<path class="st4" d="m88.1 71c-2.6-0.2-5.1-0.4-7.7-0.6 0-0.2 0.1-0.2 0.1-0.4 2.6 0.1 5.2 0.3 7.7 0.6 0 0.1 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m87.9 71.7c-2.5-0.2-5.1-0.4-7.7-0.6 0-0.2 0.1-0.2 0.1-0.4 2.6 0.1 5.1 0.3 7.7 0.6 0 0.1 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m87.7 72.4c-2.5-0.2-5.1-0.4-7.6-0.6 0-0.2 0.1-0.2 0.1-0.4 2.6 0.1 5.1 0.3 7.6 0.6 0 0.2 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m87.5 73.1c-2.5-0.2-5-0.4-7.6-0.6 0-0.2 0.1-0.2 0.1-0.4 2.5 0.1 5.1 0.3 7.6 0.6 0 0.2-0.1 0.3-0.1 0.4z"/>
								<path class="st4" d="m99.4 62.8c-2.6-0.5-5.3-0.9-7.9-1.2 0-0.2 0.1-0.2 0.1-0.4 2.7 0.3 5.3 0.7 8 1.2-0.2 0.2-0.2 0.3-0.2 0.4z"/>
								<path class="st4" d="m99.1 63.6c-2.6-0.5-5.2-0.9-7.9-1.2 0-0.2 0.1-0.2 0.1-0.4 2.7 0.3 5.3 0.7 7.9 1.2 0 0.1 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m98.8 64.3c-2.6-0.5-5.2-0.9-7.9-1.2 0-0.2 0.1-0.2 0.1-0.4 2.6 0.3 5.3 0.7 7.9 1.2 0 0.2 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m98.6 65c-2.6-0.5-5.2-0.9-7.8-1.2 0-0.2 0.1-0.2 0.1-0.4 2.6 0.3 5.2 0.7 7.8 1.2 0 0.2-0.1 0.2-0.1 0.4z"/>
								<path class="st4" d="m98.3 65.7c-2.6-0.5-5.2-0.9-7.8-1.2 0-0.2 0.1-0.2 0.1-0.4 2.6 0.3 5.2 0.7 7.8 1.2 0 0.2 0 0.3-0.1 0.4z"/>
								<path class="st4" d="m98.1 66.4c-2.6-0.5-5.1-0.9-7.7-1.2 0-0.2 0.1-0.2 0.1-0.4 2.6 0.3 5.2 0.7 7.7 1.2 0 0.2-0.1 0.3-0.1 0.4z"/>
								<path class="st4" d="m97.8 67.2c-2.5-0.5-5.1-0.9-7.7-1.2 0-0.2 0.1-0.2 0.1-0.4 2.6 0.3 5.1 0.7 7.7 1.2 0 0.1 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m97.6 67.9c-2.5-0.5-5.1-0.9-7.6-1.2 0-0.2 0.1-0.2 0.1-0.4 2.6 0.3 5.1 0.7 7.6 1.2-0.1 0.1-0.1 0.2-0.1 0.4z"/>
								<path class="st4" d="m97.3 68.6c-2.5-0.5-5-0.9-7.6-1.2 0-0.2 0.1-0.2 0.1-0.4 2.6 0.3 5.1 0.7 7.6 1.2 0 0.2 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m97 69.3c-2.5-0.5-5-0.9-7.5-1.2 0-0.2 0.1-0.2 0.1-0.4 2.5 0.3 5 0.7 7.5 1.2 0 0.2 0 0.3-0.1 0.4z"/>
								<path class="st4" d="m96.8 70c-2.5-0.5-5-0.9-7.5-1.2 0-0.2 0.1-0.2 0.1-0.4 2.5 0.3 5 0.7 7.5 1.2 0 0.2-0.1 0.3-0.1 0.4z"/>
								<path class="st4" d="m96.5 70.8c-2.5-0.5-4.9-0.9-7.4-1.2 0-0.2 0.1-0.2 0.1-0.4 2.5 0.3 5 0.7 7.5 1.2-0.1 0.1-0.1 0.2-0.2 0.4z"/>
								<path class="st4" d="m96.3 71.5c-2.4-0.5-4.9-0.9-7.4-1.2 0-0.2 0.1-0.2 0.1-0.4 2.5 0.3 5 0.7 7.4 1.2 0 0.1-0.1 0.2-0.1 0.4z"/>
								<path class="st4" d="m96 72.2c-2.4-0.5-4.9-0.9-7.3-1.2 0-0.2 0.1-0.2 0.1-0.4 2.5 0.3 4.9 0.7 7.4 1.2l-0.2 0.4z"/>
								<path class="st4" d="m95.8 72.9c-2.4-0.5-4.8-0.9-7.3-1.2 0-0.2 0.1-0.2 0.1-0.4 2.5 0.3 4.9 0.7 7.3 1.2-0.1 0.2-0.1 0.3-0.1 0.4z"/>
								<path class="st4" d="m95.5 73.6c-2.4-0.5-4.8-0.9-7.2-1.2 0-0.2 0.1-0.2 0.1-0.4 2.4 0.3 4.9 0.7 7.3 1.2-0.1 0.2-0.1 0.3-0.2 0.4z"/>
								<path class="st4" d="m95.2 74.3c-2.4-0.5-4.8-0.9-7.2-1.2 0-0.2 0.1-0.2 0.1-0.4 2.4 0.3 4.8 0.7 7.2 1.2 0 0.2 0 0.3-0.1 0.4z"/>
								<path class="st4" d="m89.7 89.7c-2.1-0.5-4.1-0.8-6.2-1.2 0-0.2 0.1-0.2 0.1-0.4 2.1 0.3 4.2 0.7 6.2 1.2 0 0.2 0 0.3-0.1 0.4z"/>
								<path class="st4" d="m89.5 90.4c-2-0.5-4.1-0.8-6.2-1.2 0-0.2 0.1-0.2 0.1-0.4 2.1 0.3 4.1 0.7 6.2 1.2 0 0.2-0.1 0.3-0.1 0.4z"/>
								<path class="st4" d="m89.2 91.2c-2-0.5-4-0.8-6.1-1.2 0-0.2 0.1-0.2 0.1-0.4 2.1 0.3 4.1 0.7 6.1 1.2 0 0.1 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m89 91.9c-2-0.5-4-0.8-6.1-1.2 0-0.2 0.1-0.2 0.1-0.4 2.1 0.3 4.1 0.7 6.1 1.2-0.1 0.1-0.1 0.2-0.1 0.4z"/>
								<path class="st4" d="m88.7 92.6c-2-0.5-4-0.8-6-1.2 0-0.2 0.1-0.2 0.1-0.4 2 0.3 4 0.7 6 1.2 0 0.2 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m88.4 93.3c-2-0.5-4-0.8-6-1.2 0-0.2 0.1-0.2 0.1-0.4 2 0.3 4 0.7 6 1.2 0 0.2 0 0.3-0.1 0.4z"/>
								<path class="st4" d="m88.2 94c-2-0.5-3.9-0.8-5.9-1.2 0-0.2 0.1-0.2 0.1-0.4 2 0.3 4 0.7 6 1.2-0.1 0.2-0.2 0.3-0.2 0.4z"/>
								<path class="st4" d="m87.9 94.8c-2-0.5-3.9-0.8-5.9-1.2 0-0.2 0.1-0.2 0.1-0.4 2 0.3 3.9 0.7 5.9 1.2 0 0.1 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m87.7 95.5c-1.9-0.5-3.9-0.8-5.8-1.2 0-0.2 0.1-0.2 0.1-0.4 2 0.3 3.9 0.7 5.9 1.2-0.1 0.1-0.2 0.2-0.2 0.4z"/>
								<path class="st4" d="m83.1 88.5l-6.6-0.6c0-0.2 0.1-0.2 0.1-0.4 2.2 0.1 4.4 0.3 6.6 0.6-0.1 0.2-0.1 0.2-0.1 0.4z"/>
								<path class="st4" d="m82.9 89.2c-2.2-0.2-4.3-0.4-6.5-0.6 0-0.2 0.1-0.2 0.1-0.4 2.2 0.1 4.4 0.3 6.5 0.6-0.1 0.2-0.1 0.3-0.1 0.4z"/>
								<path class="st4" d="m82.6 89.9c-2.2-0.2-4.3-0.4-6.5-0.6 0-0.2 0.1-0.2 0.1-0.4 2.2 0.1 4.3 0.3 6.5 0.6 0 0.2 0 0.3-0.1 0.4z"/>
								<path class="st4" d="m82.4 90.6c-2.1-0.2-4.3-0.4-6.4-0.6 0-0.2 0.1-0.2 0.1-0.4 2.2 0.1 4.3 0.3 6.4 0.6 0 0.2 0 0.3-0.1 0.4z"/>
								<path class="st4" d="m82.2 91.4c-2.1-0.2-4.2-0.4-6.4-0.6 0-0.2 0.1-0.2 0.1-0.4 2.1 0.1 4.3 0.3 6.4 0.6 0 0.1 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m82 92.1l-6.3-0.6c0-0.2 0.1-0.2 0.1-0.4 2.1 0.1 4.2 0.3 6.3 0.6 0 0.1 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m81.8 92.8l-6.3-0.6c0-0.2 0.1-0.2 0.1-0.4 2.1 0.1 4.2 0.3 6.3 0.6 0 0.2 0 0.2-0.1 0.4z"/>
								<path class="st4" d="m81.6 93.5c-2.1-0.2-4.1-0.4-6.2-0.6 0-0.2 0.1-0.2 0.1-0.4 2.1 0.1 4.2 0.3 6.3 0.6-0.1 0.2-0.1 0.3-0.2 0.4z"/>
								<path class="st4" d="m81.4 94.2c-2.1-0.2-4.1-0.4-6.2-0.6 0-0.2 0.1-0.2 0.1-0.4 2.1 0.1 4.1 0.3 6.2 0.6 0 0.2-0.1 0.3-0.1 0.4z"/>
							<path class="st4" d="m89.2 67.2c-2.6-0.2-5.3-0.4-7.9-0.6 0.4-2 0.9-4 1.3-6 2.8 0.1 5.6 0.3 8.3 0.6-0.5 2-1.1 4-1.7 6z"/>
							<path class="st4" d="m74.8 93.7h-6.4c0.3-2 0.6-4.1 0.9-6.1 2.3-0.1 4.5-0.1 6.8 0-0.4 2-0.9 4-1.3 6.1z"/>
					<path class="st0" d="m94.7 75.6c-0.4 0.7 0 1.6 0.8 2l4.3 2.2c0.8 0.4 1.7 0.2 2.1-0.6 0.4-0.7 0-1.6-0.8-2l-4.3-2.2c-0.8-0.3-1.7-0.1-2.1 0.6z"/>
					<path class="st0" d="m92.5 77.3c-0.4 0.7 0 1.6 0.8 2l5.3 2.7c0.8 0.4 1.7 0.2 2.1-0.6 0.4-0.7 0-1.6-0.8-2l-5.3-2.7c-0.8-0.3-1.7-0.1-2.1 0.6z"/>
					<path class="st0" d="m91.5 79.3c-0.4 0.7 0 1.6 0.8 2l5.3 2.7c0.8 0.4 1.7 0.2 2.1-0.6 0.4-0.7 0-1.6-0.8-2l-5.3-2.7c-0.8-0.3-1.7-0.1-2.1 0.6z"/>
					<path class="st0" d="m91.8 81.6c-0.3 0.5 0 1.2 0.6 1.5l3.9 2c0.6 0.3 1.3 0.1 1.5-0.4 0.3-0.5 0-1.2-0.6-1.5l-3.9-2c-0.5-0.3-1.2-0.2-1.5 0.4z"/>
					<path class="st0" d="m12.4 73.7c0.4 0.7 0 1.6-0.8 2l-4.3 2.2c-0.8 0.4-1.7 0.1-2.1-0.6s0-1.6 0.8-2l4.3-2.2c0.8-0.4 1.7-0.2 2.1 0.6z"/>
					<path class="st0" d="m14.6 75.4c0.4 0.7 0 1.6-0.8 2l-5.3 2.7c-0.8 0.4-1.7 0.2-2.1-0.6-0.4-0.7 0-1.6 0.8-2l5.3-2.7c0.8-0.4 1.7-0.2 2.1 0.6z"/>
					<path class="st0" d="m15.6 77.3c0.4 0.7 0 1.6-0.8 2l-5.3 2.7c-0.8 0.4-1.7 0.2-2.1-0.6-0.4-0.7 0-1.6 0.8-2l5.3-2.7c0.8-0.3 1.7-0.1 2.1 0.6z"/>
					<path class="st0" d="m15.3 79.6c0.3 0.5 0 1.2-0.6 1.5l-3.9 2c-0.6 0.3-1.3 0.1-1.5-0.4-0.3-0.5 0-1.2 0.6-1.5l3.9-2c0.5-0.3 1.2-0.2 1.5 0.4z"/>
</svg></div>

<h1 style="text-align: center;color:#fff;background-color: red;font-family: amaranth;font-size: calc(28px + (66 - 28) * ((100vw - 320px) / (1600 - 320)));">
 Fürther&nbsp;Käseblatt</h1><br>
<span style="font-weight: bold;font-size:large">Magazin » Aktuelles, Zeitloses & Uninteressantes</span>
<hr>


<div class="flexnews">