<div class="content">
            <div class="live white-on-red">[[Ort]]</div>
            <div class="bottom">
[[Foto]]
                <div class="headline">[[Titelzeile]]</div>
                <div class="ticker">
                    <div class="time">[[Datum]]</div>
                    <div class="text"></div>
                </div>
            </div>
        </div>
<br><br>
##edit## | ##delete## [[Text]]